  .container {
    background: url("/images/stardust.png");
    background-size: cover; 
  }
  
  .homepage { 
    height: 100%;
    position: relative; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    padding-top: 25px;
    margin-right: 0px;
  }

  .portfolio-section {
    width: 100%;
    clear: both;
  }

  @media only screen and (min-width: 768px) {
    /* for desktop */
    /* .about-me {
      float: left;
    } */

    .portfolio-section { 
      background-size: cover;
      width: 100%;
      /* position: relative; */
      /* float: left; */
      /* height: 100%;  */
      z-index: -1;
    }
  }