  .homepage { 
    background: url("/images/stardust.png");
    height: 100%;
    position: relative; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-size: cover; 
    z-index: -1;
    padding-top: 25px;
  }
  
  .portfolio-section {
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    /* for desktop */
    .portfolio-section { 
      background: url("/images/stardust.png");
      background-size: cover;
      height: 100%; 
      z-index: -1;
      background-repeat: repeat;
    }
  }