.skills-card {
    background: rgb(187, 190, 202);
    border-radius: 2px;
    height: 325px;
    position: relative;
    width: 30%;
    margin-left: 10px;
    box-shadow: 0 3px 6px rgb(49, 47, 47), 0 3px 6px rgb(49, 47, 47);
    text-align: left;
    float: left;
  }