.picture-card {
  background: rgb(187, 190, 202);
  border-radius: 2px;
  height: 325px;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 0 3px 6px rgb(49, 47, 47), 0 3px 6px rgb(49, 47, 47);
  text-align: left;
  color: rgb(61, 61, 61);
}

.picture-card > img {
  width: 70%;
  height: auto;
  padding-top: 20px;
  padding-left: 55px;
}

@media only screen and (min-width: 768px) {
  /* for desktop */
  .picture-card {
    background: rgb(187, 190, 202);
    border-radius: 2px;
    height: 325px;
    position: relative;
    width: 30%;
    margin-left: 1075px;
    margin-top: -325px;
    box-shadow: 0 3px 6px rgb(49, 47, 47), 0 3px 6px rgb(49, 47, 47);
    text-align: left;
  }

  .picture-card > img {
    width: 60%;
    height: auto;
    padding-top: 15px;
    padding-left: 95px;
  }
}