.contact { 
  /* background: url("/images/cloudy-day.png");  */
  background: url("/images/stardust.png");
  position: absolute;
  min-height: 100%;
  background-size: cover; 
  z-index: -1;
}



@media only screen and (min-width: 768px) {
  /* for desktop */
  .contact { 
    /* background: url("/images/cloudy-day.png");  */
    background: url("/images/stardust.png");
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-size: cover; 
    z-index: -1;
    padding-top: 25px;
  }
}