.contact { 
  background: url("/images/stardust.png");
  position: absolute;
  min-height: 100%;
  background-size: cover; 
  z-index: -1;
}



@media only screen and (min-width: 768px) {
  /* for desktop */
  .contact { 
    background: url("/images/stardust.png");
    position: absolute; 
    background-size: cover; 
    z-index: -1;
    padding-top: 25px;
  }
}