/* @import url("https://fonts.googleapis.com/css?family=Pacifico"); */
.navBar {
  height: 100%;
  padding-bottom: 4px;
  overflow:auto;

  }

  .link {
    float: right;
    height: 30px;
    width: 100px;
    box-shadow: -3px 3px 5px #999;
    text-align: center;
    color: aliceblue;
    border-radius: 10px;
    font-family: "Pacifico", cursive;
  }
  
  .link:hover {
    background-color: aliceblue;
    color: grey;
  }

  