.navBar {
  background-image: url("/images/greyfloral.png");
  background-size: "cover";
  height: 100%;
  padding-bottom: 4px;
  overflow:auto;
  }

  .home-link {
    float: right;
    height: 50px;
    width: 100px;
    box-shadow: -3px 3px 5px #999;
    text-align: center;
  } 
  
   .portfolio-link {
    float: right;
    height: 50px;
    width: 100px;
    box-shadow: -3px 3px 5px #999;
    text-align: center;
  }

  .contact-link {
    float: right;
    height: 50px;
    width: 100px;
    box-shadow: -3px 3px 5px #999;
    text-align: center;
    clear: both;
  }